.Chat
  .MessageField
    .MessageBox
      .MessageInfo
        .Message
          %p.Message__content
            = text_field :item_name, placeholder: 'タイトル', class:'Message__content__title'
            = text_field :item_name, placeholder: '本文', class:'Message__content__text'

        %p.Message__date
          2020/2/2 12:22
      
      .MessageInfo__two
        %span.image
          = image_tag src="/assets/image4.jpg", size: "400x400"
        .Message__two
          %p.Message__two__content
            かくれんぼ
          %p.Message__two__date
            2020/2/2 12:22
      
      .MessageInfo__three
        %span.image
          = image_tag src="/assets/image7.jpg", size: "400x400"
        .Message__three
          %p.Message__three__content
            お金持ち
          %p.Message__three__date
            2020/2/2 12:22


