-# .SideBar
-#   .LeftHeader
-#     .LeftHeader__list
-#       %h3.LeftHeader__userName
-#         ユーザー名
-#       %ul.LeftHeader__iconList
-#         %li.LeftHeader__Icon
-#           = link_to '#' do
-#             = icon('fas', 'edit')
-#         %li.LeftHeader__Icon
-#           = link_to '#' do
-#             = icon('fas', 'cog')
.SideBar
  .GroupList
    .Group
      = link_to '#' do
        .Group__name
          画像を投稿する
        .Group__message
          最新のメッセージ
    .play
      = link_to 'あそぶ' ,plays_show_path 